<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Edit dossier
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <form action="putSuperhero{{this.id}}" method="POST" enctype="multipart/form-data">
                        <div class="form-row">
                            <div class="col">
                                <label>nickName</label>
                                <input class="form-control" name="nickName" value="{{this.nickName}}">
                            </div>
                            <div class="col">
                                <label>realName</label>
                                <input class="form-control" name="realName" value="{{this.realName}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>originDescription</label>
                            <textarea class="form-control" rows="3"
                                name="originDescription">{{this.originDescription}}</textarea>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label>superpowers</label>
                                <textarea class="form-control" rows="3"
                                    name="superpowers">{{this.superpowers}}</textarea>
                            </div>
                            <div class="col">
                                <label>catchPhrase</label>
                                <textarea class="form-control" rows="3"
                                    name="catchPhrase">{{this.catchPhrase}}</textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark" style="margin-top: 10px;">Edit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Add images
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <form action="addSuperheroImg{{this.id}}" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Select pictures</label>
                            <input type="file" id="fileMulti" class="form-control-file" name="filedata" multiple />
                            <span id="outputMulti"></span>
                        </div>
                        <button type="submit" class="btn btn-dark">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Delete images
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div>
                        {{#each this.images}}
                        <div class="card cardMyStyle">
                            <img src={{this}} class="img-thumbnail" alt={{this}}>
                            <div>
                                <button type="button" class="btn btn-outline-dark border-0"
                                    onclick="delImage(this)">Del</button>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <button type="button" class="btn btn-dark" id="send" onclick="submit()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var inp = document.getElementById('fileMulti');
    function handleFileSelectMulti(evt) {
        var files = evt.target.files;
        for (let i = 0, f; f = files[i]; i++) {

            var reader = new FileReader();

            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var span = document.createElement('span');
                    span.innerHTML = ['<img class="img-thumbnail" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'
                    ].join('');
                    document.getElementById('outputMulti').insertBefore(span, null);
                };
            })(f);

            reader.readAsDataURL(f);
        }
    }

    inp.addEventListener('change', handleFileSelectMulti, false);

    ///////  del block  ///////

    let delImages = [];

    function delImage(elem) {

        let imgElem = elem.parentElement.previousElementSibling;
        let regexp = /^.*?:\/\/.*?(?=\/|$)/;
        let image = imgElem.src.replace(regexp, '');

        if (!imgElem.hidden) {
            imgElem.hidden = true;
            elem.textContent = "Cancel";
            delImages.push(image);
        }
        else {
            imgElem.hidden = false;
            elem.textContent = "Del";
            delImages.splice(delImages.indexOf(image), 1);
        }

        console.log(delImages);
    }
    function submit() {

        let address = window.location.pathname.replace('edit', 'delSuperheroImg');

        $.ajax({
            url: address,
            contentType: "application/json",
            method: "POST",
            data: JSON.stringify(delImages),
            success: function (x) {
                console.log(x);
                location.reload()
            }
        });
    }

</script>