<div class="container">
    {{#each superheroes}}
    <div class="card cardMyStyle">
        <img src={{this.image}} style="height: 200px;" alt="no photo">
        <div class="card-body px-0 py-1">
            <button type="button" class="btn btn-outline-light border-0 text-dark" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <h5>{{this.nickName}}</h5>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" type="button" href="/dossier{{this.id}}">Dossier</a>
                <a class="dropdown-item" type="button" href="/edit{{this.id}}">Edit</a>
                <a class="dropdown-item" type="button" href="/delete{{this.id}}">Delete</a>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="fixed-bottom">
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                {{#each pages}}
                <li class="page-item">
                    <a class="page-link text-dark" href="/{{this}}">{{this}}</a>
                </li>
                {{/each}}
            </ul>
        </nav>
    </div>
</div>