    <h2>Список супергероев</h2>
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Nic Name</th>
                <th>Real Name</th>
                <th>originDescription</th>
                <th>Superpower</th>
                <th>catchPhrase</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody> 
            {{#each superheroes}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.realName}}</td>
                    <td>{{this.originDescription}}</td>
                    <td>{{this.superpowers}}</td>
                    <td>{{this.catchPhrase}}</td>
                    <td>
                        {{#each this.images}}
                            <img src={{this}} alt={{this}} style="width: 150px;">
                        {{/each}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
